/* Navbar.css */

.navbar {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-logo img {
    width: 100px; /* Adjust the width as needed */
    height: auto;
  }
  
  .nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links ul li {
    margin-right: 20px;
  }
  
  .nav-links ul li:last-child {
    margin-right: 0;
  }
  
  .nav-links ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-links ul li a:hover {
    text-decoration: underline;
  }
  
  .universal_heading{
    text-align: center;
    font-size: 40px;
    color: #080303e0;
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 10px;
    line-height: normal;
    font-weight: bold;
  }
  .partnerFlex{
    display:flex;
    justify-content:flex-end;
    flex-wrap: wrap;
    column-gap: 25px;
    padding-top: 16px;
    padding-bottom: 55px;
    padding-left: 10cm;
  }

  .universal_mid{
   text-align:center;
    font-size: 30px;
    color: #060b08e0;
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 10px;
    line-height: normal;
    justify-content: center;
    font-weight: bold;
  }
